<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ancient History Quiz</title>
	<link rel="stylesheet" href="static/css/quiz.css">
</head>

<body>
	<div class="universal">

		<div class="header">
			<h1>Ancient History Quiz</h1>
		</div>

		<!-- Question number 1 -->

		<div class="questbox">
			<div class="ques">
				1. Who was the first emperor of the Roman Empire?
			</div>
			<div class="answerbox child1">
				Augustus
			</div>
			<div class="answerbox child2">
				Julius Caesar
			</div>
			<div class="answerbox child3">
				Nero
			</div>
			<div class="answerbox child4">
				Caligula
			</div>
		</div>

		<!-- Question number 2 -->

		<div class="questbox">
			<div class="ques">
				2. Which ancient civilization built the Pyramids of Giza?
			</div>
			<div class="answerbox child1">
				The Egyptians
			</div>
			<div class="answerbox child2">
				The Babylonians
			</div>
			<div class="answerbox child3">
				The Greeks
			</div>
			<div class="answerbox child4">
				The Romans
			</div>
		</div>

		<!-- Question Number 3 -->

		<div class="questbox">
			<div class="ques">
				3. The Code of Hammurabi is a set of laws from which ancient civilization?
			</div>
			<div class="answerbox child1">
				Babylonian
			</div>
			<div class="answerbox child2">
				Assyrian
			</div>
			<div class="answerbox child3">
				Persian
			</div>
			<div class="answerbox child4">
				Egyptian
			</div>
		</div>

		<!-- Question Number 4 -->

		<div class="questbox">
			<div class="ques">
				4. Who was the famous queen of ancient Egypt known for her alliance with Julius Caesar and Mark Antony?
			</div>
			<div class="answerbox child1">
				Cleopatra
			</div>
			<div class="answerbox child2">
				Nefertiti
			</div>
			<div class="answerbox child3">
				Hatshepsut
			</div>
			<div class="answerbox child4">
				Tiye
			</div>
		</div>

		<!-- Question Number 5 -->

		<div class="questbox">
			<div class="ques">
				5. Which empire is known for creating the famous Silk Road trade route?
			</div>
			<div class="answerbox child1">
				The Han Dynasty
			</div>
			<div class="answerbox child2">
				The Roman Empire
			</div>
			<div class="answerbox child3">
				The Byzantine Empire
			</div>
			<div class="answerbox child4">
				The Ottoman Empire
			</div>
		</div>

		<!-- Navigation Buttons -->
		<div class="footer">
			<div class="active" onclick="response(-1)">
				Previous
			</div>
			<div class="next" onclick="response(1)">
				Next
			</div>
		</div>
	</div>

	<script src="static/js/quiz.js"></script>
</body>

</html>
